mat-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 40px 8px 8px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px;
}
