.currency-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.currency-select {
  display: flex;
  padding: 10px;
}

.flag-icon {
  font-size: 24px;
}
