<mat-toolbar >
  <div class="currency-container">
    <mat-icon class="currency-icon">euro_symbol</mat-icon>
    <span class="currency-label">{{ eurRate }}</span>
  </div>
  <div class="currency-container">
    <mat-icon class="currency-icon">attach_money</mat-icon>
    <span class="currency-label">{{ usdRate }}</span>
  </div>
  <span class="spacer"></span>
  <button mat-button routerLink="/converter">Конвертер</button>
  <button mat-button routerLink="/contacts">Контакти</button>
</mat-toolbar>
