<mat-toolbar>
  <div class="currency-container" *ngIf="currencies$ | async as currencies">
    <div *ngFor="let currency of currencies">
      <span
        class="flag-icon fi fi-{{ currency.cc | currencyIcon }}"
        alt="flag-icon"
      ></span
      >/<span class="flag-icon fi fi-ua" alt="flag-icon"></span>:
      <span class="currency-rate"
        >{{ currency.rate | number : "1.2-2" }} ₴</span
      >
    </div>
  </div>
  <span class="spacer"></span>
  <button mat-button routerLink="/converter">Конвертер</button>
  <button mat-button routerLink="/contacts">Контакти</button>
</mat-toolbar>
