<mat-toolbar >
  <ng-container *ngIf="currencies$ | async as currencies">
  <div class="currency-container" *ngFor="let currency of currencies">
    <span
    class="currency-option-icon fi fi-{{ currency.cc | currencyIcon }}"
    alt="flag-icon"
  ></span>/     <span
  class="currency-option-icon fi fi-ua"
  alt="flag-icon"
></span>
    <span class="currency-label">{{ currency.rate | number: '1.2-2'}}</span>
  </div>

  </ng-container>
  <span class="spacer"></span>
  <button mat-button routerLink="/converter">Конвертер</button>
  <button mat-button routerLink="/contacts">Контакти</button>
</mat-toolbar>
