.converter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.converter-selects{
  display: flex;
  background-color: antiquewhite;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
}
