<div class="converter">
  <input-amount
    [label]="'amountTo'"
    [amount]="toAmount$ | async"
    (amountChange)="onAmountToChange($event)"
  ></input-amount>
<div class="converter-selects">
  <select-currency
    [label]="'currencyTo'"
    [selectedCurrency]="toCurrency$ | async"
    (currencyChange)="onCurrencyChange($event)"
  ></select-currency>
  <select-currency
    [label]="'currencyFrom'"
    [selectedCurrency]="fromCurrency$ | async"
    (currencyChange)="onCurrencyChange($event)"
  ></select-currency>
</div>
  <input-amount
    [label]="'amountFrom'"
    [amount]="fromAmount$ | async"
    (amountChange)="onAmountFromChange($event)"
  ></input-amount>
</div>
